body {
  width: 500px;
  margin: auto;
  font-size: 16px;
}

h1 {
  font-weight: 300;
  margin-block: 2rem;
  padding-block-end: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

h2 {
  font-size: 1rem;
}

.options-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: .5rem;
  margin-inline-start: .5rem;
  align-items: center;
}

#status {
  width: fit-content;
  margin-inline: auto;
  margin-block-start: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 75%;
  background: #f0f0f0;
  opacity: 1;
  transition: opacity .3s
}

#status:empty {
  opacity: 0;
  transition: none;
}